<div class="benefits">
    <h2>Конкурентные преимущества</h2>
    <div class="benefits__items">
        <div class="benefits__item">
            <div class="benefits__inner">
                <img class="benefits__icon" src="./img/benefits-icon-1.svg" alt="">
                <h3>Работаем в сжатые сроки</h3>
                <p>Монтаж плат от двух рабочих дней. Работаем по выходным и даже ночью, чтобы вы получили продукцию точно и в срок.</p>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__inner">
                <img class="benefits__icon" src="./img/benefits-icon-2.svg" alt="">
                <h3>Система качества</h3>
                <p>Используем различные системы тестирования: от автоматизированного оптического контроля до функционального тестирования.</p>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__inner">
                <img class="benefits__icon" src="./img/benefits-icon-3.svg" alt="">
                <h3>Работа с мелкими сериями</h3>
                <p>Даже если вам нужно сделать поверхностный монтаж на 1 плату, то мы справимся с этой задачей.</p>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__inner">
                <img class="benefits__icon" src="./img/benefits-icon-4.svg" alt="">
                <h3>Профессиональное оборудование</h3>
                <p>Используем в работе специализированное оборудование, предназначенное для конвейерных производств.</p>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__inner">
                <img class="benefits__icon" src="./img/benefits-icon-5.svg" alt="">
                <h3>ESD</h3>
                <p>Производственные зоны защищены от статического электричества в соответствии со стандартами IEC 61340-5-1/2.</p>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__inner">
                <img class="benefits__icon" src="./img/benefits-icon-6.svg" alt="">
                <h3>Рассчет стоимости бесплатно</h3>
                <p>Проконсультируем на каждом этапе монтажа. Дополнительно проверим соответствие компонентов документации.</p>
            </div>
        </div>
    </div>
</div>