<div class="form">
    <div class="form__inner">
        <div class="form__form">
            <h2>Оставьте свою заявку</h2>
            <form>
                <div class="form__item">
                    <label for="input-1">Ваше имя</label>
                    <input id="input-1" type="text">
                </div>
                <div class="form__item">
                    <label for="input-2">Телефон</label>
                    <input id="input-2" type="tel">
                </div>
                <div class="form__item">
                    <label for="input-3">E-mail</label>
                    <input id="input-3" type="email">
                </div>
                <div class="form__item form__item--policy">
                    <div class="form__checkbox">
                        <div class="form__checkbox-input">
                            <input type="checkbox" id="input-4">
                            <label for="input-4"></label>
                        </div>
                        <label for="input-4">Я даю согласие на обработку моих персональных данных</label>
                    </div>
                </div>
                <div class="form__item form__item--btn">
                    <button>Заказать</button>
                </div>
            </form>
        </div>
        <div class="form__pic">
            <picture>
                <source srcset='../img/form-pic.webp' type='image/webp'>
                <source srcset='../img/form-pic.png' type='image/png'>
                <img src='../img/form-pic.png' alt=''>
            </picture>
        </div>
    </div>
</div>