<div class="green-panel">
    <div class="green-panel__content">
        <h2>5 причин выбрать нас</h2>
        <ol>
            <li>Многолетний опыт в монтаже печатных плат</li>
            <li>Гаранитируем своевременное выполнение заказов</li>
            <li>Свое производство в Смоленске</li>
            <li>Обеспечиваем чистоту производства и антистатическую защиту</li>
            <li>Производим платы с минимальными издержками и по привлекательным ценам</li>
        </ol>
    </div>
    <div class="green-panel__pic">
        <picture>
            <source srcset='./img/panel-pic-1.webp' type='image/webp'>
            <source srcset='./img/panel-pic-1.png' type='image/png'>
            <img src='./img/panel-pic-1.png' alt=''>
        </picture>
    </div>
</div>
<div class="green-panel">
    <div class="green-panel__pic">
        <picture>
            <source srcset='./img/panel-pic-2.webp' type='image/webp'>
            <source srcset='./img/panel-pic-2.png' type='image/png'>
            <img src='./img/panel-pic-2.png' alt=''>
        </picture>
    </div>
    <div class="green-panel__content">
        <h2>Возможности печати</h2>
        <ul>
            <li>Габариты плат: 50х40 - 510х508 мм </li>
            <li>Монтаж выводных компонентов </li>
            <li>Отмывка плат </li>
            <li>Лакировка плат </li>
            <li>Внутрисхемное и функциональное тестирование</li>
        </ul>
    </div>
</div>
<div class="green-panel">
    <div class="green-panel__content">
        <h2>Схема работы</h2>
        <ol>
            <li>Отправляем заявку по телефону или почте</li>
            <li>Уточняем детали, согласовываем спецификацию и сроки</li>
            <li>Получаем счет на оплату</li>
            <li>Оплачиваем и ждем платы</li>
            <li>Получаем лично на производстве, либо получаем посылку по адресу.</li>
        </ol>
    </div>
    <div class="green-panel__pic">
        <picture>
            <source srcset='./img/panel-pic-3.webp' type='image/webp'>
            <source srcset='./img/panel-pic-3.png' type='image/png'>
            <img src='./img/panel-pic-3.png' alt=''>
        </picture>
    </div>
</div>