<div class="map">
    <div class="map__inner">
        <div class="map__content">
            <img src="./img/laserwar-white.svg" alt="">
            <p>214013, Смоленск, ул.&nbsp;Верхние&nbsp;Вишенки 11б</p>
        </div>
    </div>
    <div class="map__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d814.1278593391634!2d32.03202254975652!3d54.75005508166618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ce584703b620b5%3A0xe891db90a13b2654!2z0YPQuy4g0JLQtdGA0YXQvdC40LUg0JLQuNGI0LXQvdC60LgsIDEx0JEsINCh0LzQvtC70LXQvdGB0LosINCh0LzQvtC70LXQvdGB0LrQsNGPINC-0LHQuy4sIDIxNDAxMw!5e0!3m2!1sru!2sru!4v1642272927611!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>