<div class="reviews">
    <h2> Благодарности от клиентов</h2>
    <div class="swiper swiper-reviews">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="reviews__contact">
                    <div class="reviews__contact-pic">
                        <picture>
                            <source srcset='./img/ava.webp' type='image/webp'>
                            <source srcset='./img/ava.jpg' type='image/jpeg'>
                            <img src='./img/ava.jpg' alt=''>
                        </picture>
                    </div>
                    <div class="reviews__contact-data">
                        <div class="reviews__contact-date">5 декабря 2021</div>
                        <div class="reviews__contact-name">Веретенников Станислав</div>
                        <div class="reviews__contact-score">Оценка: 5</div>
                    </div>
                </div>
                <p>Машинка - зверь. Играется с ней намного комфортнее, чем с хищником, хоть она и тяжелее в 2 раза. То ли ход спускового крючка короче, то ли хват физиологичнее, но тех же противников, которых я уже 3 года расстреливаю с хищника ... </p>
                <p><a href="#">Читать полностью</a></p>
            </div>
            <div class="swiper-slide">
                <div class="reviews__contact">
                    <div class="reviews__contact-pic">
                        <picture>
                            <source srcset='./img/ava.webp' type='image/webp'>
                            <source srcset='./img/ava.jpg' type='image/jpeg'>
                            <img src='./img/ava.jpg' alt=''>
                        </picture>
                    </div>
                    <div class="reviews__contact-data">
                        <div class="reviews__contact-date">5 декабря 2021</div>
                        <div class="reviews__contact-name">Веретенников Станислав</div>
                        <div class="reviews__contact-score">Оценка: 5</div>
                    </div>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore possimus unde veritatis accusamus ducimus? Obcaecati accusantium hic maxime porro, corporis labore exercitationem, quas corrupti deleniti voluptatibus vero sit officiis, numquam saepe excepturi expedita nemo. Autem nisi iusto aut, est dolor ab veritatis voluptatibus eum rerum sapiente facere culpa vero asperiores? ...</p>
                <p><a href="#">Читать полностью</a></p>
            </div>
            <div class="swiper-slide">
                <div class="reviews__contact">
                    <div class="reviews__contact-pic">
                        <picture>
                            <source srcset='./img/ava.webp' type='image/webp'>
                            <source srcset='./img/ava.jpg' type='image/jpeg'>
                            <img src='./img/ava.jpg' alt=''>
                        </picture>
                    </div>
                    <div class="reviews__contact-data">
                        <div class="reviews__contact-date">5 декабря 2021</div>
                        <div class="reviews__contact-name">Веретенников Станислав</div>
                        <div class="reviews__contact-score">Оценка: 5</div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia eius sint, ea maiores culpa recusandae nemo dicta repudiandae nam animi tenetur eveniet mollitia nobis omnis amet placeat ut consectetur vero. Modi, facilis, ipsa sed nisi repellat maxime qui dolore odio, culpa voluptatum rerum ex ...</p>
                <p><a href="#">Читать полностью</a></p>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!-- <div class="reviews__add"><a href="#">Оставить отзыв</a></div> -->
</div>