/*----------*/
@font-face {
    font-family: 'ALSRubl';
    src: url('../fonts/alsrubl/alsrubl-arial-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ALSRubl';
    src: url('../fonts/alsrubl/alsrubl-arial-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'ALSRubl';
    src: url('../fonts/alsrubl/alsrubl-arial-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ALSRubl';
    src: url('../fonts/alsrubl/alsrubl-arial-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
/*----------*/
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-Extrabld.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-ThinIt.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-ExtrabldIt.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-BlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}
/*----------*/
@font-face {
    font-family: 'Russo One';
    src: url('../fonts/russoone/RussoOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*----------*/