$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 350px;

$font-family: 'Proxima Nova', sans-serif;
$font-family-russo: 'Russo One', sans-serif;
$font-family-ruble: 'ALSRubl', sans-serif;

$color-font: #36474f;
$color-font-dark: #263238;
$color-black: #000;
$color-white: #fff;
$color-white-80a: rgba(255, 255, 255, 0.8);
$color-white-50a: rgba(255, 255, 255, 0.5);
$color-white-30a: rgba(255, 255, 255, 0.3);
$color-dark-gray: #828282;
$color-dark-gray2: #333;
$color-gray: #8fa4ae;
$color-gray2: #c4c4c4;
$color-lightgray: #eeeff4;
$color-lightgray2: #939393;
$color-lightgray3: #1b1c1d;
$color-lightgray-50a: rgba(245, 247, 248, 0.5);
$color-red: #fe4234;
$color-green: #00aa8a;
$color-orange: #edab00;
$color-blue: #002c5d;
$color-blue-a: rgba(0, 44, 93, 0.7);
$color-blue-a40: rgba(0, 59, 110, 0.4);
$color-lightblue: #00b6da;
