html * {
  max-height: 999999px;
}
html,
body {
  height: 100%;
  position: relative;
}
html {
  font-size: 10px;
}
body {
  -webkit-backface-visibility: hidden;
  -webkit-text-size-adjust: 100%;
}
sup {
  vertical-align: super;
  line-height: 0;
  font-size: 0.75em;
}
.ov-h {
  overflow: hidden !important;
}
/*----------*/
.b-ruble-font {
  font-family: $font-family-ruble;
}
/*----------*/
/*----------*/
@media (max-width: calc(#{$breakpoint-tablet} - 1px)) {
  .hide-on-mobile {
    display: none !important;
  }
}
@media (min-width: $breakpoint-tablet) and (max-width: calc(#{$breakpoint-desktop} - 1px)) {
  .hide-on-tablet {
    display: none !important;
  }
}
@media (min-width: $breakpoint-desktop) {
  .hide-on-desktop {
    display: none !important;
  }
}
