.promo {
    margin-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.8rem;

    @media (min-width: $breakpoint-tablet) {
        height: 71.5rem;
        margin-bottom: 10rem;
    }
    @media (min-width: $breakpoint-desktop) {
        margin-bottom: 15rem;
    }

    h1 {
        margin-bottom: 0.7em;
        font-family: $font-family-russo;
        font-size: 2.4rem;
        line-height: 1.1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $color-red;
        text-shadow: -1px -1px 6px #ffffff, -1px -1px 6px #ffffff, 1px 1px 4px rgba(58, 72, 109, 0.7);

        @media (min-width: $breakpoint-tablet) {
            margin-bottom: 3rem;
            font-size: 5.2rem;
        }
    }
    &__bg {
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: 3rem;
        width: calc(100% + 4rem);
        padding-bottom: 70%;
        background: url('../img/head-bg.svg') 48% 36% no-repeat;
        background-size: 350% auto;

        @media (min-width: $breakpoint-tablet) {
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url('../img/head-bg.svg') calc(100% + 76rem) calc(50% - 4rem) no-repeat;
        }
        @media (min-width: $breakpoint-desktop-extra) {
            background: url('../img/head-bg.svg') calc(100% + 39rem) calc(50% - 4rem) no-repeat,
                url('../img/head-bg-left.svg') 0 100% no-repeat;
        }
    }
    &__inner {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 111rem;
    }
    &__content {
        max-width: 50rem;

        p {
            max-width: 40rem;
        }
    }
    &__btn {
        padding-top: 2rem;

        @media (min-width: $breakpoint-tablet) {
            padding-top: 4rem;
        }

        a {
            position: relative;
            display: inline-block;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(136.01deg, #ff6715 -16.14%, #ff222e 101.49%);
                box-shadow: -3px -3px 7px #ffffff, 3px 3px 4px rgba(94, 100, 117, 0.5);
                border-radius: 6px;
                z-index: -1;
                transition: opacity 0.2s ease-in-out;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #ff222e, #ff222e);
                border-radius: 6px;
                z-index: -1;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }
            &:link,
            &:visited {
                padding: 1rem 3rem;
                width: 100%;
                font-weight: 600;
                font-size: 1.8rem;
                text-align: center;
                color: $color-white;

                @media (min-width: $breakpoint-desktop) {
                    width: auto;
                }
            }
            &:hover {
                &::before {
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
